

/* all rounder styles ------------------------ */



.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-btn{
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 3px 45px;
    color: grey;

}
.secondary-color{
    color: #474747;
}

/* Nav bar styles ----------------------------- */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-name{
    font-size: 28px;
    font-weight: bold;
}


/* Header section styles ----------------------- */

.header-container{
    width: full ;
    
}
.hero-img{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 75px;
}

.hero-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.hero-title-container{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.hero-title{
    font-size: 40px;
    text-align: center;
    
}    
.hero-description{
    font-size: 16px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    color: gray;
}
.contact-btn{
    font-size: 16px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 17px 55px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
}

/* Main Section styles ---------------------------- */

.main-section{
    background-color: #fff6f4;
    margin: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.main-title{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.main-description{
    font-size: 14px;
    text-align: center;
    color: grey;
    margin: 0 250px ;
}

/* bento section  */

.bento-1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 50px 200px;
    padding: 20px 30px;
    border-radius: 10px;
}
.bento-title{
    color: #474747;
    font-size: 20px;
    width: 45%;
}
.bento-description{
    color: grey;
    font-size: 14px;
    width: 70%;
    margin-bottom: 6%;
}
.bento-btn{
    background-color: white;
    font-size: 20px;
    padding: 10px 35px;
    color: grey;
}
.bento-img-2{
    margin-right: 70px;
}
.bento-title-2{
    color: #474747;
    font-size: 20px;
    width: 69%;
}
.iframe{
    margin: 70px;
    border: solid rgb(197, 197, 197);
    border-radius: 15px;
    height: 500px;
    padding: 30px;
}

/* Current traget Section style */
.current-target{
    display: flex;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}
.html{
    background-color: rgb(250, 250, 244);
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
}
.css{
    background-color: rgb(255, 240, 243);
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
}
.js{
    background-color: rgb(235, 255, 248);
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
}
.current-description{
    width: 70%;
    color: gray;
}
a{
    color: black;
    font-weight: 600;
}

/* Support section styles  */

.handshake{
    width: 1320px;
    height: 360px;
    margin: 10px 50px;
    border-radius: 10px;
    position: relative;
    display: block;
}

.support-title{
    position: absolute;
    color: white;
    top: 3610px;
    left: 40%;
    font-size: 25px;
    text-align: center;
    justify-content: center;

}
.support-description{
    position: absolute;
    color: rgb(239, 237, 237);
    top: 3700px;
    left: 30%;
    font-size: 15px;

}
.support-input{
    position: absolute;
    color: rgb(239, 237, 237);
    top: 3750px;
    left: 30%;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
}
.submit-btn{
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 120px;
    padding: 10px 20px;
    margin-left: 24px;
    border: none;
    font-weight: bold;


}
input[type="text"]{
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 300px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}